{% extends 'base.html' %} {% block title %}Ajout Client p1{% endblock %} {%
block content%}

<br />

<form action="{{ url_for('client.add_client_p1') }}" method="post">
  <label for="username" class="form-label">Nom du client :</label>
  <input
    type="text"
    class="form-control"
    name="username"
    id="username"
    required
  />

  <br />

  <div class="card">
    <div class="card-header">
      <h3>Zeendoc :</h3>
    </div>
    <div class="card-body">
      <label for="ZEENDOC_LOGIN" class="form-label">Zeendoc Login :</label>
      <input
        type="text"
        class="form-control"
        name="ZEENDOC_LOGIN"
        id="ZEENDOC_LOGIN"
        required
      />

      <label for="ZEENDOC_URLCLIENT" class="form-label"
        >Zeendoc URL Client :</label
      >
      <input
        type="text"
        class="form-control"
        name="ZEENDOC_URLCLIENT"
        id="ZEENDOC_URLCLIENT"
        required
      />

      <label for="ZEENDOC_CPASSWORD" class="form-label"
        >Zeendoc CPassword :</label
      >
      <input
        type="password"
        class="form-control"
        name="ZEENDOC_CPASSWORD"
        id="ZEENDOC_CPASSWORD"
        required
      />
    </div>
  </div>

  <br />

  <div class="card">
    <div class="card-header">
      <h3>EBP :</h3>
    </div>
    <div class="card-body">
      <label for="EBP_CLIENT_ID" class="form-label">EBP Client ID :</label>
      <input
        type="text"
        class="form-control"
        name="EBP_CLIENT_ID"
        id="EBP_CLIENT_ID"
        required
      />

      <label for="EBP_CLIENT_SECRET" class="form-label"
        >EBP Client Secret :</label
      >
      <input
        type="password"
        class="form-control"
        name="EBP_CLIENT_SECRET"
        id="EBP_CLIENT_SECRET"
        required
      />

      <label for="EBP_SUBSCRIPTION_KEY" class="form-label"
        >EBP Subscription Key :</label
      >
      <input
        type="password"
        class="form-control"
        name="EBP_SUBSCRIPTION_KEY"
        id="EBP_SUBSCRIPTION_KEY"
        required
      />
    </div>
  </div>

  <div class="card-footer text-end">
    <button type="submit" class="btn btn-primary">Suivant</button>
  </div>
</form>

{% endblock %}
