{% extends 'base.html' %} {% block title %}Ajout Passerelle{% endblock %} {%
block content%}

<br />
<form
  action="{{ url_for('database.add_passerelle_with_connectors') }}"
  method="post"
>
  <div class="form-group">
    <label for="lib_passerelle">Nom</label>
    <input
      type="text"
      class="form-control"
      id="lib_passerelle"
      name="lib_passerelle"
      placeholder="Nom"
    />
  </div>
  <div class="form-group">
    <label for="id_logiciel_source">Logiciel source</label>
    <select
      class="form-control"
      id="id_logiciel_source"
      name="id_logiciel_source"
    >
      {% for logiciel in logiciels %}
      <option value="{{ logiciel.idLogiciel }}">
        {{ logiciel.LibLogiciel }}
      </option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="id_logiciel_destination">Logiciel destination</label>
    <select
      class="form-control"
      id="id_logiciel_destination"
      name="id_logiciel_destination"
    >
      {% for logiciel in logiciels %}
      <option value="{{ logiciel.IdLogiciel }}">
        {{ logiciel.LibLogiciel }}
      </option>
      {% endfor %}
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Ajouter</button>
</form>

<script>
  // Convertir les logiciels en JSON et afficher dans la console
  console.log("logiciels :");
  console.log({{ logiciels|tojson }});
</script>

{% endblock %}
