{% extends 'base.html' %} 
{% block title %}update{% endblock %} 
{% block content %}
<h1>Modification de : {{ client_name }}</h1>



<form action="{{ url_for('client.update_client', id=client_id) }}" method="post">
  
  <input type="hidden" name="client_id" value="{{ client_id }}" />
  <input type="hidden" name="username" value="{{ client_name }}" />
  
  {% for support, dic in client.items() %}
    <!-- card bootsrap -->
    <div class="card">
      <div class="card-header">
        <h2>{{ support }}</h2>
      </div>
      <div class="card-body">

    {% for clee, champ in dic.items() %}
      {% if clee == "EBP_CLIENT_SECRET" or clee == "EBP_SUBSCRIPTION_KEY" or clee == "ZEENDOC_CPASSWORD" %}
        <div class="form-group">
          <label for="{{ clee }}">{{ clee }} :</label>
          <input type="password" class="form-control" id="{{ clee }}" name="{{ clee }}" value="{{ champ }}" />
        </div>
      {% else %}
        {% if clee == "EBP_FOLDER_ID" %}
        
        {% if folders is not none and not folders is string and folders != "" %}
            <div class="form-group">
              <label for="{{ clee }}">{{ clee }} :</label>
              <select class="form-control" id="{{ clee }}" name="{{ clee }}">
                {% for folder in folders %}
                  <option value="{{ folder.id }}" {% if folder.id == champ %} selected {% endif %}>
                    {{ folder.name }}
                  </option>
                {% endfor %}
              </select>
            </div>
            {% else %}

          

          <a href="{{ url_for('ebp.login_ebp', id=client_id) }}" class="btn btn-primary">Se connecter à EBP</a>
            


          {% endif %}
        {% endif %}
        {% if clee == "ZEENDOC_CLASSEUR" %}
        {% if classeurs is not none and not classeurs is string and classeurs != "" %}
          <div class="form-group">
            <label for="{{ clee }}">{{ clee }} :</label>
            
            <select class="form-control" id="{{ clee }}" name="{{ clee }}">
              <option value="">Choisir un classeur</option>
              
              {% for classeur in classeurs %}
                <option value="{{ classeur.Coll_Id }}" {% if classeur.Coll_Id == champ %} selected {% endif %}>
                  {{ classeur.Label }}
                </option>
              {% endfor %}
            </select>
          </div>

          {% else %}
          <a href="#" class="btn btn-danger">Connection à Zeendoc echouée</a>
          {% endif %}

        {% else %}
          <div class="form-group">
            <label for="{{ clee }}">{{ clee }} :</label>
            <input type="text" class="form-control" id="{{ clee }}" name="{{ clee }}" value="{{ champ }}" />
          </div>
        {% endif %}
      {% endif %}
    {% endfor %}
      </div>
    </div>
    <br>

  {% endfor %}
  <button type="submit" class="btn btn-primary">Enregistrer</button>
</form>

{% endblock %}
